src/main/resources/CNS.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdm="http://eng.com/rdm/xml/model" targetNamespace="http://eng.com/rdm/xml/model" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- TIPO ALLEGATO F -->
  <xs:simpleType name="TypeAllegatoF">
    <xs:restriction base="xs:string">
      <xs:pattern value="01"/>
      <xs:pattern value="02"/>
      <xs:pattern value="03"/>
      <xs:pattern value="04"/>
      <xs:pattern value="05"/>
      <xs:pattern value="06"/>
      <xs:pattern value="00"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TIPO ALLEGATO A -->
  <xs:simpleType name="TypeAllegatoA">
    <xs:restriction base="xs:string">
      <xs:pattern value="010"/>
      <xs:pattern value="020"/>
      <xs:pattern value="030"/>
      <xs:pattern value="041"/>
      <xs:pattern value="042"/>
      <xs:pattern value="050"/>
      <xs:pattern value="060"/>
      <xs:pattern value="070"/>
      <xs:pattern value="080"/>
      <xs:pattern value="090"/>
      <xs:pattern value="100"/>
      <xs:pattern value="110"/>
      <xs:pattern value="120"/>
      <xs:pattern value="130"/>
      <xs:pattern value="140"/>
      <xs:pattern value="150"/>
      <xs:pattern value="160"/>
      <xs:pattern value="170"/>
      <xs:pattern value="180"/>
      <xs:pattern value="190"/>
      <xs:pattern value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TIPO ALLEGATO H -->
  <xs:simpleType name="TypeAllegatoH">
    <xs:restriction base="xs:string">
      <xs:pattern value="I"/>
      <xs:pattern value="D"/>
      <xs:pattern value="P"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TIPO STRINGA LUNGHEZZA 8 -->
  <xs:simpleType name="TypeStr8">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TIPO STRINGA NUMERO REPERTORIO -->
  <xs:simpleType name="TypeNumRepertorio">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="13"/>
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9999999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TYPE IMPORTI -->
  <xs:simpleType name="TypeImporto">
    <xs:restriction base="xs:string">
      <xs:pattern value="-{0,1}[0-9]{1,8}(\.[0-9]{1,5})?"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TYPE QUANTITA' -->
  <xs:simpleType name="TypeQuantita">
    <xs:restriction base="xs:string">
      <xs:pattern value="-{0,1}[0-9]{1,12}(\.[0-9]{1,2})?"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TYPE OPERAZIONE-->
  <xs:simpleType name="TypeOperazione">
    <xs:restriction base="xs:string">
      <xs:pattern value="I"/>
      <xs:pattern value="V"/>
      <xs:pattern value="C"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- TYPE TIPO DISPOSITIVO -->
  <xs:simpleType name="TypeDispositivo">
    <xs:restriction base="xs:string">
      <xs:pattern value="1"/>
      <xs:pattern value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="dataroot">
    <xs:complexType>
      <xs:choice>
        <xs:element name="REGIONE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PERIODO">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AS" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="STRUTTURA" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="UNIT_OP" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="OPERAZIONE" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="DISPOSITIVO" maxOccurs="unbounded">
                                              <xs:complexType mixed="true">
                                                <xs:attribute name="tipo_dispositivo" type="rdm:TypeDispositivo" use="required"/>
                                                <xs:attribute name="tipo_desti_utili" type="rdm:TypeAllegatoH" use="required"/>
                                                <xs:attribute name="desti_utili" use="required">
                                                  <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                      <xs:enumeration value="00"/>
                                                      <xs:enumeration value="01"/>
                                                      <xs:enumeration value="02"/>
                                                      <xs:enumeration value="03"/>
                                                      <xs:enumeration value="04"/>
                                                      <xs:enumeration value="05"/>
                                                      <xs:enumeration value="0"/>
                                                      <xs:enumeration value="1"/>
                                                      <xs:enumeration value="2"/>
                                                      <xs:enumeration value="3"/>
                                                      <xs:enumeration value="4"/>
                                                      <xs:enumeration value="5"/>
                                                    </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="num_rep" type="rdm:TypeNumRepertorio" use="required"/>
                                                <xs:attribute name="costo" type="rdm:TypeImporto" use="required"/>
                                                <xs:attribute name="qta" type="rdm:TypeQuantita" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="tipo_op" type="rdm:TypeOperazione" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="cod_un_op" use="required">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:pattern value="[0-9]{4}"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="tipo_str" type="rdm:TypeAllegatoF" use="required"/>
                              <xs:attribute name="cod_str" type="rdm:TypeStr8" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="cod_as" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="[0-9]{6}"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="mese" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="0[1-9]|1[012]"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="anno" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[2][0][0-9]{2}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="cod_reg" type="rdm:TypeAllegatoA" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CANCELLAZIONE_MASSIVA_DATI">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="REGIONE">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PERIODO">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AS" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="cod_as" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value="[0-9]{6}"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="mese" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:pattern value="0[1-9]|1[012]"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="anno" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:pattern value="[2][0][0-9]{2}"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="cod_reg" type="rdm:TypeAllegatoA" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
